SECRET_KEY = 'long_very_secretkey'
DEBUG = False
DBNAME = 'db_name'
DBUSER = 'db_user'
PASSWORD = 'password'
HOST = '127.0.0.1'
PORT = 5432
ALLOWED_HOSTS=['example.com','www.example.com']
COMPOSE_PROJECT_NAME='<project_name>'