SECRET_KEY = 'long_very_secretkey'
DEBUG = False
ALLOWED_HOSTS=['example.com','www.example.com']
COMPOSE_PROJECT_NAME='<project_name>'

# === БД ===
POSTGRES_DB='pulse_ai_db'
POSTGRES_USER='postgres'
POSTGRES_ROOT_PASSWORD='password'

DJANGO_DB_USER='django_user'
DJANGO_DB_PASSWORD='password'
ADMIN_DB_USER='admin_user'
ADMIN_DB_PASSWORD='password'

# ВАЖНО: для сервера используем имена сервисов Docker-сети
PGBOUNCER_HOST='pgbouncer'
PGBOUNCER_PORT=6432
DATABASE_DIRECT_HOST='timescaledb'
DATABASE_DIRECT_PORT=5432

# === CELERY & REDIS ===
CELERY_BROKER_URL='redis://redis:6379/0'
CELERY_RESULT_BACKEND='django-db'
REDIS_URL='redis://redis:6379/1'
REDIS_PASSWORD='password'

# === НАСТРОЙКИ ===
DB_CONN_MAX_AGE=0
DB_STATEMENT_TIMEOUT=30000

INGEST_API_KEY='api_key'